<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- icon images -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/hud.css"/>
    <link rel="stylesheet" href="/static/css/base.css"/>
    <link rel="stylesheet" href="/static/css/mainpage.css"/>

    <title>HEVEN_T</title>
  </head>
<body>
    <div class="container">

    <div class="row h-100">


    {% if cards == 3 %}
    <div class="col-md-1 card-auto"></div>
    {% endif %}

    {% if cards == 2 %}
    <div class="col-md-3 container"></div>
    {% endif %}


    {% if 0 <= dust %}
    <div class="col-md-3 card-auto container">
        <div class="card h-100 space_300">
            <img class="card-img-top"
                {% if 0 <= dust < 30 %} src="/static/image/fine_dust_good.png"
                {% elif 30 <= dust < 80 %} src="/static/image/fine_dust_normal.png"
                {% elif 80 <= dust < 150 %} src="/static/image/fine_dust_bad.png"
                {% elif 150 <= dust %} src="/static/image/fine_dust_very_bad.png"
                {% endif %}
            >
            <div class="card-body">
                <h4 class="card-title" id="dusttext">미세먼지 : {{ dust }}</h4>
            </div>
        </div>
    </div>
    {% endif %}

    {% if 0 <= uv %}
    <div class="col-md-3 card-auto container">
        <div class="card h-100 space_300">
            <img class="card-img-top"
            {% if 0 <= uv < 3 %} src="/static/image/UV_very_safe.png"
            {% elif 3 <= uv < 6 %} src="/static/image/UV_safe.png"
            {% elif 6 <= uv < 8 %} src="/static/image/UV_normal.png"
            {% elif 8 <= uv < 11 %} src="/static/image/UV_danger.png"
            {% elif 11 <= uv %} src="/static/image/UV_very_danger.png"
            {% endif %}
            >
            <div class="card-body">
                <h4 class="card-title" id="uvtext">자외선 : {{ uv }}</h4>
            </div>
        </div>
    </div>
    {% endif %}

    {% if 0 < rain %}
    <div class="col-md-3 card-auto container">
        <div class="card h-100 space_300">
            <img class="card-img-top" src="/static/image/rain.png" alt="">
            <div class="card-body">
                <h4 class="card-title" id="raintext">강우량 : {{ rain }}</h4>
            </div>
        </div>
    </div>
    {% endif %}

    {% if 30 < co2 %}
    <div class="col-md-3 card-auto container">
        <div class="card h-100 space_300">
            <img class="card-img-top" src="/static/image/CO2.png" alt="">
            <div class="card-body">
                <h4 class="card-title" id="co2text">CO₂ : {{ co2 }}</h4>
            </div>
        </div>

    </div>
    {% endif %}

    <audio autoplay id="audio_tts">
        <source src="/static/sound/silence.mp3" id="audio_src" type="audio/mp3" />
    </audio>


    {% if cards == 3 %}
    <div class="col-md-1"></div>
    {% endif %}

    {% if cards == 2 %}
    <div class="col-md-3 container"></div>
    {% endif %}


    </div>
    </div>
    <a href="/main" id="convertMain" class="float">
        <i class="fa fa-arrow-right my-float"></i>
    </a>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
</script>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-analytics.js"></script>

<!-- our JS -->
<script src="/static/js/base.js"></script>
<script src="/static/js/hud.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyBrQ0-5F9LWQ40rYRXShRlXbodsDvo-Y58",
    authDomain: "heven-t.firebaseapp.com",
    databaseURL: "https://heven-t.firebaseio.com",
    projectId: "heven-t",
    storageBucket: "heven-t.appspot.com",
    messagingSenderId: "260591339216",
    appId: "1:260591339216:web:bfec4a353da018b7d880d5",
    measurementId: "G-WWBCTBTTL7"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>

</body>
</html>